* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(232, 230, 230);
}
  
/*** BOX COLORS ***/
.blue {
    background-color: rgb(57, 57, 234);
}

.red {
    background-color: rgb(248, 80, 80);
}

.yellow {
    background-color: rgb(254, 254, 68);
    border: 3px solid darkorange;
}

.green {
    background-color: green;
}

.violet {
    background-color: violet;
}

.lightblue {
    background-color: lightskyblue;
}


.lightcyan {
    background-color: lightcyan;
}
/*** BOX COLORS ***/


section#css-position {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 24rem;
}

.grid-container {
    /* position: relative; */
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(4, 150px);
    grid-gap: 1em;
    border: 0.5rem solid beige;
    flex-wrap: wrap;

 
}

.grid-item {
    width: 150px;
    height: 150px;
    display: flex;
    /** number layout **/
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /** number layout **/
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.25rem;
}


.active {
    position: sticky;
    top: 20px;
    
    
    
}


/* STICKY */
header {
    position: sticky;
    top: 0;
    text-align:  center;
    font-size: 2rem;
    height: 8rem;
}

h2 {
    height: 100vh;
}



/*FLEXBOX*/

.flex-between {
    height: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: start;
    border: 0.2rem solid black;
    margin-bottom: 1rem;

}


.flex-item {
    background-color: lightskyblue;
    width: 12rem; /*150px*/
    height: 3rem;
    text-align: center;
    border: 2px solid blue;
}

.flex-item:first-child {
    
}

.flex-item:nth-child(2) {
    align-self: center;
}

.flex-item:last-child {
    
    
}
/** DEMO **/

.flexbox-main {
    display: flex;
    width: 100vw;
    justify-content: start;
    background-color: darkgray;
}

h1 {
    text-align: center;
    font-size: 2rem;
}
.image-logo {
    
}
.flexbox-grow {
    flex-grow: 2;
}

.flex-nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

ul li {
    list-style-type: none;
    color: green;
}


/* GRID */
section#grid-layout{
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */

}
.container {
    width: 50rem;
    margin-top: 5rem;
    height: 7rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* grid-template-rows: 2rem; */
}
.item-1{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(32, 88, 0) solid 20px;
    background-color: rgb(25, 189, 25);
    grid-column: 1/1;
    grid-row: 1/4;
}
.item-2{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(32, 88, 0) solid 20px;
    background-color: rgb(25, 189, 25);
    grid-column: 2/4;

    /* transform: scale(2); */
    /* width: 25rem;
    height: 25rem; */
}
.item-3{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(151, 39, 92) solid 20px;
    background-color: rgb(211, 64, 89);
    grid-column: 4/4;
    grid-row: 1/1;
}
.item-4{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(122, 83, 11) solid 20px;
    background-color: orange;
    grid-column: 2/2;
    grid-row: 2/2;
}
.item-5{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(151, 39, 92) solid 20px;
    background-color: rgb(211, 64, 89);
    grid-column: 3/3;
    grid-row: 2/2;
}
.item-6{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(32, 88, 0) solid 20px;
    background-color: rgb(25, 189, 25);
    grid-column: 4/4;
    grid-row: 2/4;
}
.item-7{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(151, 39, 92) solid 20px;
    background-color: rgb(211, 64, 89);
}
.item-8{
    padding-left: 10px;
    color: white;
    font-size: 40px;
    border: rgb(122, 83, 11) solid 20px;
    background-color: orange;
}
section#advanced-grid-layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 50rem;
    height: 25rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    grid-template-areas: 
    "a1 a1 a1 a1 a1"
    "a2 a3 a3 a3 a4"
    "a2 a3 a3 a3 a4"
    "a2 a3 a3 a3 a4"
    "a5 a5 a5 a5 a4";
}
.area-1{
    text-align: center;
    border-color: rgb(94, 93, 93);
    grid-area: a1;
    background-color: rgb(94, 93, 93);
    border-radius: 1rem;
}
.area-2{
    text-align: center;
    border-color: rgb(145, 145, 145);
    background-color: rgb(145, 145, 145);
    grid-area: a2;
    border-radius: 1rem;
}
.area-3{
    text-align: center;
    border-color: rgb(51, 51, 51);
    background-color: rgb(51, 51, 51);
    grid-area: a3;
    
}
.area-4{
    text-align: center;
    border-color: rgb(145, 145, 145);
    background-color: rgb(145, 145, 145);
    grid-area: a4;
    border-radius: 1rem;
}
.area-5{
    text-align: center;
    border-color: rgb(94, 93, 93);
    background-color: rgb(94, 93, 93);
    grid-area: a5;
    border-radius: 1rem;
}

/* GRID ALIGN */

/* GRID TEMPLATING */

/* GRID ACTIVITY */




